.input-group-prepend-override {
  width : 150px; /* adjust as needed */
  /* min-width: 40px; */
}
.input-group-prepend-symbol-override {
  width : 35px; /* adjust as needed */
  /* min-width: 40px; */
}

.input-group-prepend label {
  width: 100%;
  overflow: hidden;
}

.li-right{
  text-align: left;
  padding-top: 5px;  
}

#open-button{
  height: 0px;
  width: 0px;
  display: none;
  visibility: hidden
}
